@CHARSET "UTF-8";
img{border: 0px;cursor: pointer;}
body {background: #D5DFE8; padding: 10px; font-size: 12px;color: #182c31;}
.t {background: #6599BE;border: 1px solid #162549;color: #333;font-size: 14px;padding: 7px 10px;margin: 0 0 10px 0;overflow:hidden;height: 23px;font-weight: bold;}
.t a {float: right;padding-left: 10px;color: #666;font-size: 12px;font-weight: 400;text-decoration: none;display:block;padding:2px 5px 2px 23px;*padding:4px 5px 2px 23px;border:1px solid #000033;border-right:2px solid #000033;border-bottom:2px solid #000033;background:#FFF url(../images/mgr/icon_add.gif) no-repeat 3px center;}
.t span {float:left;margin-top:2px;color: #FFF;}
.e{background: #F1F1EF;border: 1px solid #162549;width: 100%;height: 100%;padding-top: 15px;padding-bottom: 15px;text-align: center;}
.e table{font-size: 12px;width: 100%;text-align: center;}
.e table th{text-align: right;width: 150px;}
.e table td{text-align: left;}
.e .but{text-align: center;margin-right: 30%;margin-top: 15px;}
.l{width: 100%;background: #F1F1EF;border: 1px solid #BBDDE5;font-size: 12px;}
.l table {width: 100%;background: #162549;}
.l th {line-height: 24px;background: #3C7EAE;white-space: nowrap;color: #fff;}
.l td {background: #F1F1EF;line-height: 22px;}
.l input {vertical-align: middle;}
.l a:visited, .l a:link {text-decoration: underline;color: #192E32;}
.l a:hover {color: #9D7250;}
.l input, .l img {vertical-align: middle;}
.btn1{BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid;}
/* details */

.tip{color: red;font-weight: bold;font-size: 14px;margin-bottom: 5px;margin-left: 10px;}
