#{assign var='p' value=$smarty.get.p}
<!--top-->
<div id="header">
<div class="hea_ttop">
<div class="search">
<form class="" action="#{url c=$con a='search'}" method="post">
<input name="name" type="text" class="input1" /><input type="image" src="images/btn.jpg" value="按钮" class="input2" />
</div>
</div>
<div class="hea_top">
<img src="images/hea_img12.jpg" width="985" height="48" border="0" usemap="#Map" />
<map name="Map" id="Map">
	<area shape="rect" coords="298,24,364,44" href="index.php" />
	<area shape="rect" coords="389,24,446,43" href="#{url c=$con a='infoX' p=1}" />
	<area shape="rect" coords="473,23,532,45" href="#{url c=$con a='infoX' p=2}" />
	<area shape="rect" coords="559,25,622,41" href="#{url c=$con a='infoX' p=3}" />
	<area shape="rect" coords="643,24,708,42" href="#{url c=$con a='infoX' p=4}" />
	<area shape="rect" coords="729,24,796,44" href="#{url c=$con a='infoX' p=5}" />
	<area shape="rect" coords="814,21,876,43" href="#{url c=$con a='infoX' p=6}" />
	<area shape="rect" coords="900,22,967,43" href="#{url c=$con a='infoX' p=7}" />
</map>
</div>
<div class="hea_left">
#{$inis.gonggao}
</div>
<div class="hea_right"><img src="images/banner_06.jpg" width="760" height="257" /></div>
<div class="clear"></div>
</div>
