#{assign var='title' value='集团内刊'}

#{if $act=='' || $act=='index'}
<div class="t"><a href="#{url c=$con a='toEdit'}">上传新#{$title}</a><span>管理中心  - #{$title}列表</span></div>

<form action="#{url c=$con a='del'}" method="post" name="delForm">
<div class="l"> 
<table cellspacing="1" cellpadding="3"> 
<tr>
<th width="20px"><img src="images/mgr/icon_drop.gif" onclick="return delSub()"/></th>
<th>名称</th>
</tr>
#{foreach key=key item=item from=$obs}
<tr>
<td align="center"><input type="checkbox" name="id[]" value="#{$item.id}"/></td>
<td>#{$item.name}</td>
</tr>
#{/foreach} 
</table> 
#{include file="mgr/common/mgr_pager.html"}
</div>
</form>

#{elseif $act=='toEdit'}
<div class="t"><a href="#{url c=$con}">#{$title}列表</a><span>管理中心  - 上传新#{$title}</span></div>

<div class="e">
<form action="#{url c=$con a='edit'}" method="post" enctype="multipart/form-data">
<table>
<tr><th>上传：</th><td><input type="file" name="file"/></td></tr>
<tr><th>名称：</th><td><input type="text" name="name"/></td></tr>
</table>
<div class="but">#{submit} #{reset}</div>
</form>
</div>

#{/if}