<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>网站后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<frameset rows="60,*" cols="*" frameborder="no" border="0">
  <frame src="#{url c='admIndex' a='top'}" name="top-frame" scrolling="no" noresize="noresize" id="top-frame" title="top-frame" />
  <frameset cols="180,*" frameborder="no" border="0" framespacing="0">
    <frame src="#{url c='admIndex' a='left'}" scrolling="yes" name="left-frame" id="left-frame" title="left-frame"/>
    <frame src="#{url c='admIndex'}" name="main-frame" scrolling="auto" id="main-frame" title="main-frame" />
  </frameset>
</frameset><noframes></noframes>
</html>
