<script type="text/javascript">
var interval_time=5 //图片停顿时间，单位为秒，为0则停止自动切换
var focus_width=#{$width}//宽度
var focus_height=#{$height} //高度
var text_height=0 //标题高度
var text_align= 'center' //标题文字对齐方式(left、center、right)
var swf_height = focus_height+text_height //相加之和最好是偶数,否则数字会出现模糊失真的问题

var pics=""
var links=""
var texts=""

#{foreach name=disname key=key item=item from=$dis}
imgUrl1="app/upload/dimg/#{$item.photo}";
imgtext1=""
imgLink1=escape("#{$item.url}");
pics+=imgUrl1
links+=imgLink1
texts+=imgtext1
#{if $smarty.foreach.disname.iteration!= $dis|@count}
pics+="|"
links+="|"
texts+="|"
#{/if}
#{/foreach}

document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="swf/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#c9d1da">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'&text_align='+text_align+'&interval_time='+interval_time+'">');
document.write('<embed src="swf/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'&text_align='+text_align+'&interval_time='+interval_time+'" menu="false" bgcolor="#c9d1da" quality="high" width="'+ focus_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
</script>