<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/mgr.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/showProcessBar.js"></script>
<script type="text/javascript" src="js/mgr.js"></script>
<link href="plugins/jtip/css/global.css" rel="stylesheet" type="text/css" />
<script src="plugins/jtip/js/jtip.js" type="text/javascript"></script>
</head>
<body>
